<style>
    .admin-img {
        width: 100%;
        height: 100px;
        text-align: center;
    }
    .admin-img img {
        width: 80px;
        height: 80px;
        border-radius: 100%;
        border:3px solid #a5a5a5;
        cursor:pointer;
        overflow: hidden;
    }

</style>

<div class="public-backdrop-white">

    <!--  搜索  -->
    <div class="public-search">
        <form class="layui-form layui-form-pane">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="username"  placeholder="请输入名称" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn layuiadmin-btn-useradmin" lay-submit="" lay-filter="search">
                        <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--  内容   -->
    <div class="public-content">
        <!--    添加等操作    -->
        <div class="public-column-bottom-10">
            <button class="layui-btn public-btn-sm add" >添加</button>
        </div>

        <div class="public-content-table">
            <table class="layui-hide" id="content" lay-filter="content"></table>
        </div>

        <script type="text/html" id="barDemo">
            <a href="javascript:;" class="layui-btn layui-btn-xs modify" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
            <a href="javascript:;" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>

    </div>

</div>

<script type="application/json" id="sort">{:json_encode($sort)}</script>

<script>
    layui.use(['form', 'layer', 'table'], function() {
        var layer = layui.layer,
            form = layui.form,
            table = layui.table;

        //提交地址
        var public_url = $.Public.url + 'section/';

        var tableIns = table.render({
            elem: '#content'
            ,where:{request:200}
            , url: public_url + 'index.html'
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                {field: 'section_id', width: 80, title: 'ID', sort: true}
                , {field: 'username', width: '', minWidth:180, title: '页面名称'}
                , {field: 'user', width: 200, title: '页面分类'}
                , {field: 'create_time', width: 200, title: '添加时间'}
                , {fixed: 'right', title: '操作', toolbar: '#barDemo', width: 200}
            ]]
            , limit: 10
            , page: true
        });
        //搜索
        form.on('submit(search)',function(data){
            var field = data.field;
            field.request = 200;
            tableIns.reload({
                where:field,
                page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
            return false;
        });

        var sort = $('#sort').html();
        if(sort != '' && sort != null) {
            sort = JSON.parse(sort);
        }
        //分类
        function actionSort(val = '') {
            let selected = '';
            let _html = '';
            if(sort != '' && sort != null) {
                sort.forEach(function(str) {
                    selected = '';
                    if(str.sectionsort_id == val) {
                        selected = 'selected';
                    }
                    _html += '<option '+selected+' value="'+str.sectionsort_id+'">'+str.remark+'</option>';
                });
            }
            return _html;
        }

        function _html(val,url) {
            return '<div class="public-padding-10">' +
                '<form class="layui-form layui-form-pane" action="'+url+'">' +
                '<input name="section_id" type="hidden" value="'+$.Public.values(val.section_id)+'"  />' +
                '   <div class="layui-form-item">\n' +
                '    <label class="layui-form-label">名称</label>\n' +
                '    <div class="layui-input-block">\n' +
                '      <input type="text" name="username" value="'+$.Public.values(val.username)+'" autocomplete="off" placeholder="请输入名称" class="layui-input">\n' +
                '    </div>\n' +
                '  </div>' +
                '   <div class="layui-form-item">\n' +
                '    <label class="layui-form-label">页面分类</label>\n' +
                '    <div class="layui-input-block">\n' +
                '      <select name="sectionsort_id"><option value="">请选择分类</option>'+actionSort(val.sectionsort_id)+'</select>\n' +
                '    </div>\n' +
                '  </div>' +
                '  <div class="layui-form-item layui-form-text">\n' +
                '    <label class="layui-form-label">html文本</label>\n' +
                '    <div class="layui-input-block">\n' +
                '      <textarea name="text" placeholder="请输入html代码内容" class="layui-textarea htmlcont" style="height:300px" value="'+(val.html)+'"></textarea>\n' +
                '    </div>\n' +
                '  </div>\n' +
                '   <div class="layui-form-item public-center">\n' +
                '      <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>\n' +
                '    </div>\n' +
                '</form>' +
                '</div>';
        }

        //添加
        $('.add').bind('click', function() {
            let add_url = public_url + 'add.html';
            $.Public.yzPost({
                type: 'post',
                url: add_url,
                data: '',
                success: function () {
                    layer.open({
                        title: '添加'
                        , type: 1
                        , area: ['900px', '600px']
                        , closeBtn: 1
                        , shade: 0.3
                        , id: 'LA_layer'
                        , moveType: 1
                        , zIndex:50
                        , content:_html('',add_url)
                    })
                    form.render();
                }
            })
        })

        table.on('tool(content)',function(obj) {
            let data = obj.data;
            if (obj.event == 'edit') {
                let add_url = public_url + 'edit.html';
                $.Public.yzPost({
                    type: 'post',
                    url: add_url,
                    data: '',
                    success: function (res) {
                        layer.open({
                            title: '修改'
                            , type: 1
                            , area: ['900px', '600px']
                            , closeBtn: 1
                            , shade: 0.3
                            , id: 'LA_layer'
                            , moveType: 1
                            , zIndex:50
                            , content:_html(data,add_url)
                        })
                        form.render();
                        let index_url = public_url + 'index.html';
                        $.Public.post({
                            type: 'post',
                            url: index_url,
                            data: {
                                title:data.username,
                                section_id:data.section_id,
                            },
                            success: function (result) {
                                $('.htmlcont').html(result.data);
                            }
                        })
                    }
                })
            }else if(obj.event == 'del') {
                layer.confirm('确定要删除么?', {icon:3,title:'提示'}, function(index) {
                    layer.close(index);
                    $.Public.post({
                        type: 'post',
                        url: public_url + 'del.html',
                        data: {
                            section_id:data.section_id,
                        },
                        success: function(msg) {
                            tableIns.reload();
                        }
                    })
                })
            }
        })

        //监听提交
        form.on('submit(submit)', function(data){
            var action = data.form.action;
            var field = data.field;
            $.Public.post({
                type:'post',
                url: action,
                data: field,
                success: function() {
                    layer.closeAll();
                    tableIns.reload();
                },
            });
            return false;
        });

    })
</script>